mixin createPostForm(currentUser)
    .postFormContainer
        .userImageContainer
            img(src=currentUser.avatar, alt="user's avatar")
        .textareaContainer
            textarea#postTextarea(placeholder="what's happening?")
            .buttonsContainer
                button#submitPostButton(disabled="") 发布

mixin createReplyModal(currentUser)
    #replyModal.modal.fade(tabindex='-1' aria-labelledby='replyModal' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#replyModal.modal-title 消息回复
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        .userImageContainer
                            img(src=currentUser.avatar, alt="user's avatar")
                        .textareaContainer
                            textarea#replyTextarea(placeholder="what's happening?")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') 关闭
                    button#submitReplyButton.btn.btn-primary(type='button' disabled="") 回复
